<!DOCTYPE html>
<html>
<head>
    <title>{{{ title }}}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <script language="JavaScript">
        function send(form) {
        }
    </script>
</head>
<body>

  {{{ body }}}

</body>
</html>